<%- include('../partials/header') %>

<h2>Enter a New Flight</h2>
  <form action="/flights" method="POST">
    <label>Airline:
      <select name="airline">
        <option value="Spirit">Spirit</option>
        <option value="United">United</option>
        <option value="JetBlue">JetBlue</option>
        <option value="American">American</option>
      </select>
    </label><br>
    <label>Flight Number:
      <input type="number" name="flightNo">
    </label><br>
    <label>Departs:
      <input type="datetime-local">
      <button type="submit">Add Flight</button>
    </label><br>
    <label>Airport:
      <select name="airport">
        <option value="LAX">LAX</option>
        <option value="SFO">SFO</option>
        <option value="IAD">IAD</option>
        <option value="BOS">BOS</option>
      </select> 
    </label><br>
  </form>

<%- include('../partials/footer') %>